<form enctype="multipart/form-data" method="post" >
    <!--LAVE DEL FORMULARIO-->
    {% csrf_token %}

    {% for campo in formulario %}
    <div class="mb-3" >
        <label for="" class="form-label">{{campo.label}}</label>

        {% if campo.field.widget.input_type == 'file' and campo.value %}
        <br>
        <img src="{{MEDIA_URL}}/imagenes/{{campo.value}}" width="100" height="100" alt="Imagen de familiar"
            style="border-radius: 10px; margin-bottom: 10px">
        <br>
        {% endif%}

        
        <input 
            type="{{campo.field.widget.input_type}}" 
            class="form-control" 
            name="{{campo.name}}" 
            id="" 
            aria-describedby="helpId" 
            placeholder="{{ campo.label}}"
            value="{{campo.value | default:' '}}" 
        />
        
    </div>

    <div class="col-2 alert-warning" style="border-radius:10px"> {{campo.errors}} </div>

    {% endfor %}

    <input name="" id="" class="btn btn-success" type="submit" value="Guardar" style="margin-right:10px; padding:6px 35px">
    <a name="" id="" class="btn btn-danger" href="{% url 'familia' %}" role="button" style="margin-right:10px; padding:6px 35px">Cancelar</a>
</form>