<center>
 <form enctype="multipart/form-data" method="post">
<!--LAVE DEL FORMULARIO-->
{% csrf_token %}
{% for campo in formulario %}
    <div class="form-group">
        <label for="" class="col-sm-6 col-form-label" style="font-size:18px; text-align: left">{{campo.label}}</label>
        {% if campo.field.widget.input_type == 'file' and campo.value %}
        <br>
        <img src="{{MEDIA_URL}}/imagenes/{{campo.value}}" style="width:10%; height:15%" alt="Imagen de familiar"
            style="border-radius: 10px; margin-bottom: 10px">
        <br>
        {% endif%}
        <div class="col-sm-6 ">
            {{campo}}
        </div>
        <!-- <div class="col-sm-6 alert-danger" style="border-radius:10px; margin-top: 3px; text-align: left">
           {{campo.errors}}
        </div> -->
    </div>
       
     
    
{% endfor %}
<br>
<input name="" id="" class="btn btn-lg btn-success" type="submit" value="Guardar" style="margin-right:10px; padding:6px 35px">
<a name="" id="" class="btn  btn-lg  btn-danger" href="{% url 'familia' %}" role="button"
    style="margin-right:10px; padding:6px 35px">Cancelar</a>
</form>   
</center>

    
    
    
    
